.single-biere-pane {
  position: relative;
  width: 30%;
  margin: auto;
}

.note-pane {
  position: relative;
  width: auto;
  margin: auto;
  margin: 10px;
  padding: 20px;
}

.note-panes {
  position: relative;
  width: auto;
  margin: auto;
  margin: 10px;
  padding: 20px;
}

img {
  position: relative;
  height: 40vh;
}

.single-biere-info {
  width: 100%;
}

.single-biere-note {
  color: #6eb5ff;
}

.flex-container {
  display: flex;
  background-color: 222222;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}

.champ-note {
  width: 11vh;
  padding-right: 2vh;
  padding-left: 2vh;
}

.champ-remarque {
  width: 40vh;
}

.categorie {
  width: 15vh;
}
.champ-theme{
  margin: 10px;
  padding: 20px;
}