.single-biere-pane {
  position: relative;
  width: 60%;
  margin: auto;
}

img {
  position: relative;
  width: 100%;
}

.single-biere-info {
  width: 100%;
}

.single-biere-note {
  color: #6eb5ff;
}
