.stuff-grid {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #333333;
}

.biere-pane {
  transition: transform 0.3s ease-in-out;
  position: relative;
  width: 270px;
  height: 270px;
  margin: 1%;
  background-size: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 3px #111111;
  cursor: pointer;
  &:hover {
    transform: scale(1.10);
  }
}
.biere-pane-nico{
  transition: transform 0.3s ease-in-out;
  position: relative;
  width: 270px;
  height: 270px;
  margin: 1%;
  background-size: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../../assets/katakuri.png');  
  box-shadow: 1px 1px 3px #111111;
  cursor: pointer;
  &:hover {
    transform: scale(1.10);
  }
}
.biere-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  h3 {
    font-weight: 800;
  }
  h5 {
    color: #6eb5ff;
  }
}