.stuff-grid {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #333333;
}
#pc1 {
  width:100%;
  transition: all 0.2s ease-in-out;
}
#pc1.hide {
  width:0%;
}

.saison{
  flex-wrap: wrap;
  justify-content: center;
  background-color: #333333;
}

.border-biere {
  padding:0.2%;
}

.biere-pane {
  transition: transform 0.3s ease-in-out;
  position: relative;
  width: 270px;
  height: 270px;
  margin: 10px;
  background-size: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 3px #111111;
  cursor: pointer;
  &:hover {
    transform: scale(1.10);
  }
}
.biere-pane-nico{
  transition: transform 0.3s ease-in-out;
  position: relative;
  width: 270px;
  height: 270px;
  margin: 1%;
  background-size: 40vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../../assets/katakuri.png');  
  box-shadow: 1px 1px 3px #111111;
  cursor: pointer;
  &:hover {
    transform: scale(1.10);
  }
}

.flex-container {
  display: flex;
  //background-color : #333333;
  //background-image: url('../../../assets/rustic.png');
}

.biere-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  h3 {
    font-weight: 800;
  }
  h5 {
    color: #6eb5ff;
  }
}

/* Pattern styles */
.bottom-biere{
    display: inline-block;
    vertical-align: left;
    width: 80%;
}

.bottom-biere-note{
    display: inline-block;
    vertical-align: bottom;
    position:absolute;
    width: 20%;
    right:0;
    bottom:0;
}